* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #6c6b6b;
}

.main-visual {
    background-image: url(img/mv.jpg);
    background-position: bottom;
    background-size: cover;
    padding: 20px;
    height: 400px;
}

main {
    width: 840px;
    margin: 50px auto;
}

.main-item {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #6c6b6b;
}